header {
  background-color: #000;
  padding: 10px;
}

header .logo {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

header nav .menu > li > a {
  color: #fff;
}

header nav .is-dropdown-submenu {
  background: #000;
  border: none;
}

header nav .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #fff transparent transparent;
}

header .drilldown a {
  background: none;
}

header .drilldown .is-drilldown-submenu {
  background: #000;
}

header .menu-ico .fa {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 25px;
  color: #fff;
}

.vertical-space0, .vertical-space1, .vertical-space2, .vertical-space3 {
  display: block;
  clear: both;
  border: 0;
}

.vertical-space1 {
  height: 10px;
}

.vertical-space2 {
  height: 20px;
}

.vertical-space3 {
  height: 30px;
}

.ilu-box .rohy {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  border: 2px #000 solid;
  margin: 0 auto 20px auto;
}

.ilu-box .rohy i {
  font-size: 70px;
  padding: 22px 0;
}

.row.full-width {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.row.full-width .large-12 {
  margin: 0;
  padding: 0;
}

.parallax-text {
  position: absolute;
  z-index: 999;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translateY(-50%) translatex(-50%);
}

footer {
  background: #000;
  color: #fff;
  overflow: auto;
  padding: 30px 0 0 0;
}

footer .social-ico {
  font-size: 30px;
}

.scrollup {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
}

.nutne {
  border: 1px red solid;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
  padding: 10px;
  border: 1px red solid;
}
